{
  "env": {
    "browser": true
  },
  "extends": [
  ],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16.5.2"
    }
  },
  "parser": "babel-eslint"
}
